@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply transition-colors duration-200;

}

.trans-none * {
  @apply transition-none;
}

.font-spartan {
  font-family: "League Spartan", sans-serif;
}

.light {
  /* general */
  --ae_background_color: 229, 231, 235; /* gray-200 */
  --ae_logo_color: 96, 37, 214; /* purple dark */
  --ae_ring_color: 17, 24, 40; /* gray-900 */
  --ae_navbar_modal: 229, 231, 235; /* gray-200 */
  --ae_hover_modal: 209, 213, 219; /* gray-300 */

  /* quotes */
  --ae_quote_bg_color: 243, 244, 246; /* gray-100 */
  --ae_quote_ring: 229, 231, 235; /* gray-200 */
  --ae_quote_shadow: 209, 213, 219; /* gray-300 */
  --ae_contact_label : 233, 234, 238;

  /* keypoints */
  --ae_keypoints_bg_color: 243, 244, 246; /* gray-100 */

  /* titles */
  --ae_titles_text_color: 75, 85, 99; /* gray-600 */

  /* logo color tech stack */
  --ae_logo_tech_stack_color: 75, 85, 99; /* gray-600 */
}

.dark {
  /* general */
  --ae_background_color: 17, 24, 40; /* gray-900 */
  --ae_logo_color: 140, 82, 255; /* pruple light */
  --ae_ring_color: 241, 245, 249; /* gray-100 */
  --ae_navbar_modal: 3, 7, 18; /* gray-950 */
  --ae_hover_modal: 31, 41, 55; /* gray-800 */
  --ae_contact_label : 22, 29, 45;

  /* quotes */
  --ae_quote_bg_color: 36, 46, 60; /* gray-800/80 */
  --ae_quote_ring: 31, 41, 55; /* gray-800 */
  --ae_quote_shadow: 31, 41, 55; /* gray-800 */

  /* keypoints */
  --ae_keypoints_bg_color: 36, 46, 60; /* gray-800/80 */

  /* titles */
  --ae_titles_text_color: 156, 163, 175; /* gray-300 */

  /* logo color tech stack */
  --ae_logo_tech_stack_color: 156, 163, 175; /* gray-400 */
  
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: white;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #6025d6;
  border-radius: 5px;
}

::-webkit-scrollbar:horizontal {
  height: 4px;
}

::-webkit-scrollbar-track:horizontal {
  background: white;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:horizontal {
  background: #6025d6;
  border-radius: 5px;
}

